@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');

*, *::after, *::before, *:hover
{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body
{
  background-color: #4b5a68;
  font-family: 'Roboto', sans-serif;
}

.geral-page
{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

